{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"plugin:react/recommended",
		"airbnb",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"react-hooks",
		"@typescript-eslint",
		"prettier",
		"eslint-plugin-import-helpers"
	],
	"rules": {
		"prettier/prettier": "error",
		"space-before-function-paren": "off",
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
		"react/jsx-props-no-spreading": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": ["Link"],
				"specialLink": ["hrefLeft", "hrefRight"],
				"aspects": ["invalidHref", "preferButton"]
			}
		],
		"import-helpers/order-imports": [
			"warn",
			{
				"newlinesBetween": "always",
				"groups": [
					"module",
					["/^@assets/", "/^@components/", "/^@services/", "/^@styles/"],
					["parent", "sibling", "index"]
				],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		]
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	}
}
